html {
    position: relative;
    min-height: 100%;
    padding: 0 25px;
    font-family: var(--font-family-serif);
}

main {
    margin-bottom: 250px;
}

footer.footer {
    background-color: ;
    padding: 15px;
    position: absolute;
    width: 100%;
    bottom: 0;
    font-size: 16px;
}

p {
    font-size: 18px;
}

/* Styles des cartes */
.card {
    background-color: var(--primary-color);
    margin: 0 20px;
    padding: 10px;
    border-radius: 20px;
    border: 0;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px var(--card-hover-shadow);
}

.card-title {
    color: #1F451A;
}

.card-text {
    color: #EBDDB1;
}

/* Image de la carte */
.card-img-top,
.card_img_top {
    border-radius: 50%;
    box-shadow: 0 8px 20px -4px var(--secondary);
}

.card-img-top {
    max-width: 50px;
    max-height: 50px;
}

.card_img_top {
    max-width: 200px;
    margin: 15px auto 0;
    width: 100px;
    height: 100px;
}

/* Conteneur et animations pour les habitats et animaux */
.container {
    display: flex;
    flex-direction: row;
    transition: all 0.3s ease-in-out;
}

.habitat-card {
    flex-basis: 100%;
    transition: all 0.3s ease-in-out;
}

.habitat-card.active {
    flex-basis: 45%;
    margin-right: 20px; /* Ajoute un espace entre habitat et animaux */
}

.animal-list {
    display: none;
    flex-basis: 50%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.animal-list.show {
    display: block;
    opacity: 1;
}